<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest Clone</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="pageIcon" rel="shortcut icon" href="https://cdn.glitch.com/09cb0c61-f5b5-4e27-b8db-32d01f3107fc%2FXXX_icon-icons.com_61683.ico?v=1568122516515" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <div id="wrapperOne">
      <form action="/" method="get">
        <input id="title" type="submit" value="Pinterest Clone" class="submit">
      </form>
    </div>
    <div id="wrapperTwo">
      <form action="/signup" method="post" id="signup">
        <input type="text" placeholder="username" id="signupUsername" name="username" required=""><br>
        <input type="password" placeholder="password" id="signupPassword" name="password" required=""><br>
        <input type="submit" value="Sign up" class="submit">
      </form>
    </div>
  </body>
</html>
